<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="layout-{{ page.layout }}">

    {%- include header.html -%}

    {%- if page.url == "/" -%}
      {%- include hero.html -%}
    {%- elsif page.layout == "page" and page.title and page.hero != false -%}
      {%- include hero.html variant="thin" title=page.title -%}
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
